body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Nav,
.Pages {
    height: 100vh;
}

.Nav ul {
    padding-left: 0;
}
 
.Nav li {
    list-style: none;
    display: block;
    height: 2.5em;
    line-height: 2.5em;
}

.Pages {
    background: #ccc;
    overflow-y: scroll;
}

.Article .body,
.PublicArticle .body {
    white-space: pre-wrap;
}

.Articles .NewButton {
    margin-bottom: 1em;
}

.Articles .list-group-item-heading * {
    padding-left: .5em;
}

.Edit textarea,
.Edit input {
    width: 100%
}

.Edit textarea {
    height: 20em;
}

.Shares span {
    margin-right: 1.5em;
}

.Shares .badge {
    min-width: 5em;
}

.Shares .date {
    display: inline-block;
    min-width: 12em;
}
